<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <script>
    var app = angular.module('bookManageApp', []);

    app.controller('bookManageCtrl', function($scope, $http) {
        $scope.user = <%-JSON.stringify(user) %>
        $scope.myBooks = <%-JSON.stringify(myBooks)%>;
        $scope.myRequests = <%-JSON.stringify(myRequests) %>;
        $scope.requestsForMe = <%-JSON.stringify(requestsForMe) %>;
        
        $scope.myLastRequestStatus = function(book) {
            var requestStatus = book.tradeRecords.filter(function(record) {
                return record.requestByUser === $scope.user.twitter.username;
            }).sort(function(r1, r2) {
                return new Date(r2.requestTimeStamp) - new Date(r1.requestTimeStamp);
            })[0].state;
            
            // console.log("requestStatus", requestStatus);
            return requestStatus;
        };
        
        $scope.myLastAnswerStatus = function(book) {
            var answerStatus = book.tradeRecords.filter(function(record) {
                return record.requestFromOwner === $scope.user.twitter.username;
            }).sort(function(r1, r2) {
                return new Date(r2.requestTimeStamp) - new Date(r1.requestTimeStamp);
            })[0].state;
            
            // console.log("answerStatus", answerStatus);
            return answerStatus;
        };
        
        $scope.myLastRequestFrom = function(book) {
          var lastRequestFrom = book.tradeRecords.filter(function(record) {
              return record.requestByUser === $scope.user.twitter.username;
          }).sort(function(r1, r2) {
              return new Date(r2.requestTimeStamp) - new Date(r1.requestTimeStamp);
          })[0].requestFromOwner;
          
          return lastRequestFrom;
        };
        $scope.sendAnswer = function(book, action) {
            $("#wait").show();
            $http({
                method: 'POST',
                url:    '/answerForRequest',
                data:   {book: book, action: action}
            }).then(function success(res) {
                //update array: $scope.myBooks and $scope.requestsForMe
                // console.log(res.data);
              $scope.myBooks = res.data.myBooks;
              $scope.requestsForMe = res.data.requestsForMe;
               
            }, function error(err) {
                alert(err.responseText);
            }).finally(function() {
                $("#wait").hide();
            });
        };
    });

    $(document).ready(function() {
              
        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });
        
        var myBooks = <%-JSON.stringify(myBooks)%>;

        $("#searchForm").submit(function(ev) {
           ev.preventDefault();
           
           $.ajax({
               type: $("#searchForm").attr("method"),
               url: $("#searchForm").attr("action"),
               data: $("#searchForm").serialize(),
               success: function(data) {
                //   console.log(JSON.stringify(data));
                   var scope = angular.element($("#my_all_books")).scope();
                    scope.$apply(function(){
                        scope.myBooks.push(data);
                    })
                   
               },
               error: function(msg) {
                   alert(msg.responseText);
               }
           });
        });
    });
  </script>
  <body>
    <header>
      <% include partials/header %>  
    </header>  
    <div class="container"  ng-app="bookManageApp" ng-controller="bookManageCtrl">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#my_all_books">My All Books</a></li>
            <li><a data-toggle="pill" href="#my_requests">My Requests</a></li>
            <li><a data-toggle="pill" href="#requests_for_me">Requests for Me</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="my_all_books" class="tab-pane fade in active">
                <form class="searchbox" id="searchForm" action="/addbook" method="post">
                    <input type="search" placeholder="Search Book by Name or Author" name="bookQuery" required />
                    <button type="submit" value="search">&nbsp;<i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                </form>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="book in myBooks">
                                <td>{{$index + 1}}</td>
                                <td><img class="bookCover" ng-src="{{book.bookInfo.coverUrl}}"></img></td>
                                <td class="title">{{book.bookInfo.bookName}}</td>
                                <td>{{book.bookInfo.currentState.preOwner}}</td>
                            </tr>    
                        </tbody>        
                    </table>    
                </div>    
            </div>
            <div id="my_requests" class="tab-pane fade">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Request from</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="book in myRequests" >
                                <td>{{$index + 1}}</td>
                                <td><img class="bookCover" ng-src="{{book.bookInfo.coverUrl}}"></img></td>
                                <td class="title">{{book.bookInfo.bookName}}</td>
                                <td>{{myLastRequestFrom(book)}}</td>
                                <td ng-class="{'bg-color-red': myLastRequestStatus(book) == 'disapproved', 
                                'bg-color-green': myLastRequestStatus(book) == 'approved',
                                'bg-color-gold': myLastRequestStatus(book) == 'pending'}">
                                    {{myLastRequestStatus(book)}}
                                </td>
                            </tr>    
                        </tbody>            
                    </table>    
                </div>    
            </div>
            <div id="requests_for_me" class="tab-pane fade">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Request User</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="book in requestsForMe">
                                <td>{{$index + 1}}</td>
                                <td><img class="bookCover" ng-src="{{book.bookInfo.coverUrl}}"></img></td>
                                <td class="title">{{book.bookInfo.bookName}}</td>
                                <td>{{book.bookInfo.currentState.requestBy}}</td>
                                <td class="" ng-class="{'bg-color-red': myLastAnswerStatus(book) == 'disapproved', 
                                    'bg-color-green': myLastAnswerStatus(book) == 'approved', 
                                    'bg-color-gold': myLastAnswerStatus(book) == 'pending'}">
                                    {{myLastAnswerStatus(book)}}
                                </td>  
                                <td>
                                    <div class="action-btn btn btn-success" ng-click="sendAnswer(book, 'approve')" 
                                        ng-disabled="{{!(book.bookInfo.currentState.isOnTrading && book.bookInfo.currentState.owner === user.twitter.username)}}">
                                        Approve
                                    </div>
                                    </br>
                                    <div class="action-btn btn btn-danger" ng-click="sendAnswer(book, 'disapprove')" 
                                        ng-disabled="{{!(book.bookInfo.currentState.isOnTrading && book.bookInfo.currentState.owner === user.twitter.username)}}">
                                        Disapprove
                                    </div>
                                </td>
                            </tr>    
                        </tbody>        
                    </table>    
                </div>    
            </div>
            
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
    <div id="wait" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><img src='images/loading.gif' width="64" height="64" /></div>
  </body>
</html>